

.can{
    height: 100px;
    width: 400px;
    border: 2px black solid;
}

#one:hover ~ #two{
    background-color: red;
}
#two:hover ~ #three{
    background-color: red;
}
#three:hover ~ #four{
    background-color: red;
}
#four:hover ~ #one{
    background-color: red;
}

div:hover + div{
    background-color: red;
}